@model RegisterViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<link rel="stylesheet" href="~/css/register.css" />

<h2 class="mb-3">Crear cuenta</h2>

<div class="card">
    <div class="card-body ">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div style="width: 20rem;" class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" autocomplete="off" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div style="width: 20rem;" class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button class="btn-primary btn form-control">Crear cuenta</button>

            <hr />
            <a asp-action="ExternalLogin" asp-route-proveedor="Google">
                <div class="caja__registro">
                    <img class="icono" src="~/images/google.png" alt="">&nbsp;&nbsp;<p class="continuar">Continuar con Google</p>
                </div>
            </a>
            <a asp-action="ExternalLogin" asp-route-proveedor="Microsoft">
                <div class="caja__registro">
                    <img class="icono" src="~/images/microsoft.png" alt="">&nbsp;&nbsp;<p class="continuar">Continuar con Microsoft</p>
                </div>
            </a>
            <p class="mt-4 text-center">¿Ya tiene cuenta? <a asp-action="login">Iniciar Sesión</a></p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}