@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Proyecto_Tienda.Services;
@inject IViewLocalizer localizer


@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var urlRetorno = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<form asp-controller="Home" asp-action="ChangeLanguage"
      asp-route-urlRetorno="@urlRetorno" method="post" class="form-horizontal"
      role="form" style="display: inline">
    <label>@localizer["Language:"]</label>
    <select name="cultura" asp-for="@requestCulture.RequestCulture.UICulture.Name"
            id="cultura" onchange="this.form.submit()"
            asp-items="Constants.SupportedUICultures">
    </select>
</form>